<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appdsn.commonbase">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <application>

        <meta-data
            android:name="com.appdsn.commonbase.base.ApplicationDelegate"
            android:value="IModuleConfig" />

        <activity
            android:name=".base.SchemeDispatcherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="${SCHEME}"
                    android:host="${HOST}" />
            </intent-filter>

        </activity>

        <!--微信登录-->
        <activity
            android:name="com.appdsn.getting.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--QQ登录-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent${TENCENT_SCHEMA}" />
            </intent-filter>
        </activity>
        <!--小牛数据埋点-->
        <meta-data
            android:name="com.xiaoniu.statistic.ProductID"
            android:value="25" />

        <activity android:name=".widget.imageSelector.ImageSelectorActivity" />
        <activity android:name=".widget.imageSelector.previewImageActivity.PreviewImageActivity" />
        <activity android:name=".widget.imageSelector.previewImageActivity.UCropImageActivity" />
        <!--高德定位-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AMAP_KEY}" />
        <service android:name="com.amap.api.location.APSService" />

    </application>

</manifest>
