<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appdsn.commoncore">

    <application>


        <provider
            android:name=".provider.CommonFileProvider"
            android:authorities="${applicationId}.common.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/common_file_paths" />
        </provider>

        <provider
            android:name=".update.UpdateFileProvider"
            android:authorities="${applicationId}.updatefileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_cache_path" />
        </provider>
    </application>

</manifest>
